/* font-family: 'Averia Serif Libre', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Julius Sans One', sans-serif; 
font-family: 'Montserrat', sans-serif;
font-family: 'Redressed', cursive;*/

.props{
    background-color: #f5d4bd;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    border: 1px solid #ccb19e;
    margin-top: 1%;
    border-radius: 0.4em;
}

.navs{
    align-content: center;
    padding-bottom: 0.2em;
}

body{
    font-size: 150%;
    background-color: #ffe5d9;
}

.container{
    text-align: center;
    align-content: center;
    padding-top: 0.30em;
    padding-bottom: 0.5em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
}
h1{
    padding-top: 1em;
    padding-bottom : 0.5em;
}

img{
    width : 30%;
    min-width: 250px;
    border-radius: 0.1em;
}
h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5em;
    padding-top: 1em;
    /* padding-bottom: 0.3em; */
    margin-left: 0;
    color : #757e8f;
}
.lead{
    font-size: 1em;
    color : gr;
}

.container-fluid{
    width : 69%;
}

#span-name , #span-date{
    padding: 0px 15px;
    font-size: 1.5em;
    color: black;
}

.icons{
    padding: 20px;
    size: 20%;
    font-size: 2rem;
    color: black;
}
.footer{
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    background-color: #e6ccb2;
}
#footer{
    padding: 0;
    margin-left: 0;
}
.p-3{
    font-size: 0.5em;
}


ul{
    margin-bottom: 0; 
    list-style: none; 
    display:flex;
    justify-content:space-between;
}

footer{
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
}

.highlight_items_primary{
    border: 2px solid #3d405b;
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: #e9f5db;
    font-family: 'Redressed', cursive;
    font-size: 1.5em;
    margin-bottom: 20px; 
}

.highlight_items_secondary{
    border: 2px solid #3d405b;
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: #eff7f6;
    font-family: 'Redressed', cursive;
    font-size: 1.5em;
    margin-bottom: 20px; 
}

.highlight_items_tertiary{
    border: 2px solid #3d405b;
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: #fafab7;
    font-family: 'Redressed', cursive;
    font-size: 1.5em;
    margin-bottom: 20px; 
}

.highlight_items_primary::selection{
    background-color: #c5c3c6;
}
.highlight_items_secondary::selection{
    background-color: #c5c3c6;
}
.highlight_items_tertiary::selection{
    background-color: #c5c3c6;
}
p::selection{
    background-color: #c5c3c6;
}



@media(max-width: 1415px){
    .h1_position{
        position: sticky;
        top: 72px;
        background-color: #ffe5d9;
        
    }
}

@media(max-width: 652px){
    .h1_position{
        position: sticky;
        top: 126px;
        background-color: #ffe5d9;
        margin-left: 0;
    }
    #section h2{
        font-size: 2em;
        margin-left:-18%;
    }
    #section p{
        font-size: 1em;
        margin-left:-18%;
    }
    .highlight_items_primary , .highlight_items_secondary , .highlight_items_tertiary{
        font-size: 1em;
        width: 100%;
    }
}

@media(max-width: 390px){
    .h1_position{
        position: sticky;
        top: 90px;
        background-color: #ffe5d9;
        font-size: 1em;
    }
    #span-name , #span-date{
        font-size: 1em;
    }
    #section h2{
        font-size: 1.2em;
        margin-left:-18%;
    }
    #section p{
        font-size: 0.8em;
        margin-left:-18%;
    }
    .highlight_items_primary , .highlight_items_secondary , .highlight_items_tertiary{
        
        font-size: 0.8em;
    }
}






